body{
	background: #fcfcff;
	font-family: arial;
	font-size: 100%;
}

#title{
	color: #fe2b00;
	text-shadow: -2px -1px 1px #000;
}

#main{
	width: 850px;
	margin: 0 auto;
}

#logo-img{
	float: right;
	padding: 20px;
}

nav{
	margin:  0 auto;
	width: 550px;
}

nav li{
	list-style: none;
	display: inline;
	margin: 20px 10px;
	background: #9c9790;
	padding: 10px; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 3px #544d49;
	-moz-box-shadow: 2px 2px 3px #544d49;
	box-shadow: 2px 2px 3px #544d49;	
}

nav li:hover{
	background: #c0c0af;
	-webkit-box-shadow: 3px 3px 4px #544d49;
	-moz-box-shadow: 3px 3px 4px #544d49;
	box-shadow: 3px 3px 4px #544d49;		
}

nav a{
	color: #433838;
	text-decoration: none;
}


footer{
	margin: 0 auto;
	width: 400px;
}	